<h1>BLUEBANK SITE</h1>
<p>Bienvenido a la Aplicacion Web de BlueBank:</p>
<ul>
  <li><a href='https://www.linkedin.com/in/pablo-moya-30902278/'>Sobre el Desarrollador</a></li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Aca podras hacer las operaciones siguiente en el Banco BlueBank Online</p>
<ul>
  <li><strong>Crear Cuenta de Ahorro</strong>. Hazcer click en <em>Crear Cuenta</em> para <em>Abrir</em> una cuenta de ahorro por primera vez.</li>
  <li><strong>Consigna o Retirar</strong>. Hacer diversos <code>movimientos</code>. Estos puede ser retiros o depositos.</li>
  <li><strong>Consultar Cuenta de Ahorro</strong>. Consultar tu saldo actual en la Cuenta de Ahorrro.</li>
</ul>
<p>Esta  es <code>IGU</code> basada en tecnologia Web SPA.</p>
